[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pyright = "1.1.302"
black = "*"
pylint = "*"

[requires]
python_version = "3.11"

[scripts]
lint = ["black --check .", "pylint $(git ls-files '*.py')"]
